<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Create Paste</title>
</head>

<body class="p-3">

  <h1>Create Paste</h1>

  <form action="/paste" method="post">

    <!-- Имя пасты -->
    <input type="text" name="name" class="form-control mb-2" placeholder="Paste name">

    <input type="hidden" name="csrf_token" value="{{.}}">

    <!-- Язык -->
    <select class="form-select mb-2" name="language">
      <option value="text" selected>Text</option>
      <option value="go">Golang</option>
      <option value="js">JavaScript</option>
      <option value="sql">SQL</option>
    </select>

    <!-- Приватность -->
    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" name="private" id="privateCheck">
      <label class="form-check-label" for="privateCheck">Private</label>
    </div>

    <!-- Expiration -->
    <select class="form-select mb-2" name="expires">
      <option value="never" selected>Never</option>
      <option value="10m">10 minutes</option>
      <option value="1h">1 hour</option>
      <option value="1d">1 day</option>
    </select>

    <!-- Контент -->
    <textarea name="content" class="form-control mb-2" style="height:200px;"
      placeholder="Paste your code here"></textarea>

    <input type="submit" class="btn btn-primary" value="Submit">
  </form>

</body>

</html>